

#login_btn{
    background-color: #0099cc;
    color: white;
    margin-top: -20px;
    margin-left: 83%;
}

button{
    height: 35px;
    width: 90px;
    border-radius: 3px;
    border: 0;
    font-size: 15px;
    font-family: quicksand;
    text-decoration: none;
    text-transform: none;
}

table{
    text-align: center;
    align-items: center;
    border: 1px solid black;
    margin-left: 270px;
 
}

td a{
    text-decoration: none;
}

h1{
    text-align: center;
}

.php{
    text-align: center;
    justify-content: left;
}

.main{
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin-top: 120px;
    border: 1px solid black;
    margin-left: 220px;
    margin-right: 320px;
}




























